.App {
    display: flex;
    margin: 40px;
    min-height: calc(70vh);
  }
  
  .left {
    background-color: darkslategray;
    color: azure;
  }
  
  .right {
    background-color: wheat;
    color: firebrick;
  }